* {
	font-family:sans-serif;
}
#box {
	width: 500px;
	height:200px;
	text-align:center;
	padding: 20px;
	border: solid;
	margin:auto;
	margin-top:100px;
}
p.big {
	font-size:35px;
}
p.awkward {
	color:gray;
}
.data {
	display:inline;
	padding-right: 20px;
}
#everything {
	text-align: center;
}
form#endgame {
	position:absolute;
	top:0;
	right:0;
	margin:10px;
}