* {
	font-family:sans-serif;
}
body.setup {
	background:#444;
}
#box {
	width: 500px;
	height:250px;
	text-align:center;
	padding: 20px;
	border: solid;
	margin:auto;
	margin-top:100px;
	background:#FFF;
}
input#your_name {
	text-align:center;
	font-size:22px;
}
p.big {
	font-size:35px;
}
p.awkward {
	color:gray;
}
.data {
	display:inline;
	padding-right: 20px;
}
center {
	position:absolute;
	top:0;
	right:0;
	margin:10px;
}
#everything {
	text-align: center;
}
center form {
	margin-left:10px;
	margin-bottom:10px;
	float:left;
}

div.buttons {
	width:220px;
	margin:auto;
}
div.buttons div.fb {
	float:left;
}
div.buttons div.twitter {
	float:left;
}
div.clear {
	display:block;
	clear:both;
}
div.sub-data {
	margin-top:20px;
	text-align:center;
}
a.fb_share {
	text-decoration:none;
	color:inherit;
	background:#EEE;
	border:1px #CCC solid;
	padding:10px;
}
a.fb_share:hover {
	background:#b7c1da;
	border-color:#4f63a1;
}
a.fb-login {
	position:relative;
	margin:auto;
	display:block;
	width:200px;
	height:33px;
	background:url("signup.png");
}
a.fb-login:active {
	top:1px;
}